<section id="header">
    <div id="contaniner-header">
        <div class="logo">
            <img src="../../../assets/img/logo redalyc-w.png" alt="">
        </div>
        <div id="text-header">
            <div>Sistema de información </div>
            <div>Red de revistas científicas </div>
            <div>Acceso Abierto no comercial propiedad de la academia</div>
        </div>

    </div>
</section>
<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <!-- <a class="navbar-item brand-text" routerLinkActive="" [routerLink]="['/home']">
                Home
            </a> -->
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" routerLinkActive="active" [routerLink]="['/home']">
                    Registro
                </a>
                <a class="navbar-item" routerLinkActive="active" [routerLink]="['/busquedas']">
                    Consultas
                </a>
                <!-- <a class="navbar-item" routerLinkActive="active" [routerLink]="['/validacion']">
                    Validacion
                </a> -->
                <a class="navbar-item" (click)="cerrar()" *ngIf="sesion">
                    Cerrar Sesión
                </a>
                <a class="navbar-item" [routerLink]="['/loggin']" *ngIf="!sesion">
                    Inicar Sesión
                </a>
            </div>

        </div>
    </div>
</nav>
<!-- END NAV -->