.container-loggin{
    background-image: url('../../../assets/img/fondo-login.jpg');
}
.form-loggin{
    background-color: white;
    padding: 7px 5%;
    padding: 10% 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);}

.tit-loggin{
    color: white;
    font-weight: bold;
}

.bienvenido{
    color: white;
    text-align: center;
}


.inicio{
    text-align: center;;
    font-weight: bold;
}

#entrar{
    background-color: red;
    color: white;
    width: 100%;
}

/* Para telefonos*/
@media screen and (max-width: 919px) {
    .main{
        margin-top: 0%;
        margin-top: 0%;
    }
    .container-loggin{
        position: absolute;
        width: 100%;
        left: 0%;
    }
    .form-loggin{
        margin-top: 10%;
    }

}

/* Para tablets*/
@media screen and (min-width: 920px) and (max-width: 1129px) {
    .main{
    margin-top: 0%;
    margin-top: 0%;
}
.inicio{
    font-size:1.5em;
}
.acceso{
    margin-top: 40%;
}

.b2{
    font-size:1.5em;
}
.bienvenido{
    position: absolute;
    left: 10%;
    margin: 5%;
}
.tit-loggin{
margin-top: 5%;
position: absolute;
width: 100%;
}
.form-loggin{
    background-color: white;
    margin: -5% 0 0 0;
    position: absolute;
    height: 109%;
    width: 30%;
    left: 60%;
}
.container-loggin{
    position: absolute;
    width: 100%;
    left: 0%;
    height: 600px;
}}

/*Para pc*/
@media screen and (min-width: 1130px){
    .main{
        margin-top: 5%;
        margin-top: 5%;
    }
    .inicio{
        font-size:1.5em;
    }
    .acceso{
        margin-top: 40%;
    }
    
    .b2{
        font-size:1.5em;
    }
    .bienvenido{
        position: absolute;
        left: 15%;
        margin: 5%;
    }
    .tit-loggin{
    margin-top: 5%;
    position: absolute;
    width: 100%;
    }
    .form-loggin{
        margin: -5% 0 0 0;
        background-color: white;
        position: absolute;
        height: 120%;
        width: 30%;
        left: 60%;
    }
    .container-loggin{
        position: absolute;
        width: 100%;
        left: 0%;
        height: 600px;
    }
}