body {
  position: relative;
}
.title-page {
  text-align: center;
  margin: 10px 0;
  color: #e3241b;
  font-weight: bold;
}

.container-box-filter {
  width: 100%;
  text-align: center;
}
.container-options-filter h4,.container-options-filter div{
  display: inline-block;
  vertical-align: middle;
}
.container-options-filter h4{
  width: 85%;
  color: #e95049;
}
.container-options-filter div{
  text-align: center;
  color: #e95049;
}
.box {
  width: 50%;
  margin: 0;
  display: inline-block;
  margin-right: 5px;
}
.select-periodo{
  display: flex;
}
.select-periodo select {
  display: inline-block;
  margin: 3px 0;
}
.container-options {
  text-align: center;
}
.container-options .select {
  margin-left: 10px;
}
.container-options .select:nth-child(1) {
  margin-left: 0;
}
.container-cards-proy {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.container-cards-proy .card {
  width: 370px;
  display: inline-block;
  margin-bottom: 50px;
}
.container-cards-proy .card .card-footer{
  display: inline-block;
    width: 100%;
    text-align: center;
}
.container-cards-proy .card .card-footer .btn-card{
  background-color: #6a747d;
    padding: 0;
    height: 40px;
    width: 46%;
    margin: 0 0 10px 0;
    border-radius: 5px;
    display: inline-block;
    font-weight: unset;
}
.container-cards-proy .card .card-footer .btn-card:nth-child(1){
  margin-right: 5px;
}
.btn-apply{
  background: #6a747d;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  margin: 15px 0 0 0;
}
.button-busq{
  border: soid 1px #6a747d;
  color: #6a747d;
}
.button-busq:hover{
  background-color: #e3241b;
  color: white;
}
.container-cards-proy .card .card-footer .btn-card a{
  color: white;

}
.container-cards-proy .card .card-footer .btn-card a, .container-cards-proy .card .card-footer .btn-card img{
  display: inline-block;
  vertical-align: middle;
}
.container-cards-proy .card .card-footer .btn-card:hover{
  background-color: #e3241b;
}
.container-cards-proy .card .card-footer .btn-card:hover a{
  background-color: #e3241b;
}
.container-cards-proy .card .card-content {
  min-height: 280px;
}
.sidebarFilters {
  background-color: white;
  width: 300px;
  height: auto;
  color: black;
  position: absolute;
  top: 0;
}
.headFilters {
  background-color: #6a747d;
}
.button-sidebar {
  width: 10px;
  display: inline-block;
  position: relative;
  left: 38%;
  font-size: 25px;
}
.containerFiltros {
  color: black;
  display: flex;
  flex-flow: row wrap;
}
.containerFiltros .fill-Tipo{
  order: 1;
}
.containerFiltros .fill-Alcance{
  order: 2;
}
.containerFiltros .fill-Año{
  order: 3;
}
.containerFiltros .fill-Mes{
  order: 4;
}
.containerFiltros .fill-Periodo{
  order: 5;
}

.containerFiltros .select{
  display: inline-block;
}
.containerFiltros .filtro {
  padding: 0;
  border-bottom: solid 1px darkgray;
  width: 90%;
  margin: 0 auto;
}
.containerFiltros .fill-Apply{
  order: 6;
  text-align: center;
  border-bottom: unset;
}
.containerFiltros .tit-filter {
  text-align: center;
}
.elemento-filtro-hidden {
  display: none;
}

.ver-mas-menos {
  color: #263238;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  border: none;
  background-color: unset;
}
.numerary-total{
  text-align: right;
}
.paginador{
  display: flex;
  justify-content: center;
}
.my-pagination .ngx-pagination .current {
  background: red;
  padding: 0.5rem 0.625rem;
}
.my-pagination .ngx-pagination .pagination-previous {
  background: #6a747d;
  border-radius: 4px;

}
.my-pagination .ngx-pagination .pagination-next {
  background: #6a747d;
  border-radius: 4px;
  
}
.my-pagination .ngx-pagination .pagination-next a{
  display: inline;
  color: #fff;
}
.my-pagination .ngx-pagination .pagination-next a:hover{
  display: inline;
  background: #6a747d;
}
.my-pagination .ngx-pagination .pagination-previous a{
  display: inline;
  background: #6a747d;
  color: #fff;
}
.my-pagination .ngx-pagination .pagination-previous a:hover {
  display: inline;
  background: #6a747d;
}

.doi{
  width: 322px;
  overflow-wrap: anywhere;
}

.form-uno{
  box-shadow: 0px 2px 4px rgb(255 0 255 / 50%);
}

.form-dos{
  box-shadow: 0px 2px 4px rgb(255 255 0 / 50%);
}

.form-tres{
  box-shadow: 0px 2px 4px rgb(153 0 255 / 50%);
}