<app-header></app-header>
<header class="toolbar" role="banner">
  <h1 class="subtitle title-page">{{ title }}</h1>
  <div class="container-busqueda">
    <div class="column is-12 container-box-filter">
      <input
        [(ngModel)]="dataBusqueda.TITPROYINV"
        class="input box is-8"
        type="text"
        (keypress)="eventHandler($event)"
        placeholder="Ingresa un titulo"
        (click)="touchSearch()"
      />
      <button
        type="submit"
        class="button is-4 button-busq"
        (click)="prepareSearch()"
      >
        Buscar
      </button>
      <!--<button class="button is-4" (click)="createNewRegister()">Hacer registro rapido</button>-->
      <button class="button is-4" 
              (click)="cleanAllDataSearch()" 
              [ngStyle]="{ display: banCleanAll == 'show' ? 'initial' : 'none' }">
              <i class="fa fa-retweet" style="margin: 0 5px 0 0;"></i>Limpiar</button>
    </div>
    <div class="container-options-filter">
      <h4 class="subtitle">Restringe los resultados por:</h4>
      <div
        class="numerary-total"
        [ngStyle]="{ display: data ? 'inline-block' : 'none' }"
      >
        Total de resultados:<br />
        <b>{{ fromPage }} </b>a <b>{{ toPage }} </b>de: <b>{{ totalOfResults }}</b>
      </div>
    </div>
  </div>
</header>

<body>
  <div
    class="column is-3 sidebarFilters"
    id="sidebarFilters"
    [ngStyle]="{
      width: stateSidebar == 'show' ? '300px' : '0',
      color: stateSidebar == 'show' ? 'white' : 'black',
      padding: stateSidebar == 'show' ? 'initial' : '0'
    }"
  >
    <div
      class="column is-12 headFilters"
      [ngStyle]="{
        padding: stateSidebar == 'show' ? '.5em .75em' : '0'
      }"
    >
      <span [ngStyle]="{ display: stateSidebar == 'show' ? 'initial' : 'none' }"
        >Filtros de búsqueda</span
      >
      <button
        class="card-header-icon button-sidebar"
        (click)="redimensionarSB()"
        [ngStyle]="{
          padding: stateSidebar == 'show' ? '0' : '0'
        }"
      > 
        <span class="icon">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div
      class="column is-12 containerFiltros"
      [ngStyle]="{ display: stateSidebar == 'show' ? 'flex' : 'none' }"
    >
      <div
        class="filtro"
        *ngFor="let filtro of filtersData; index as i"
        [ngClass]="'fill-' + filtro.nombre"
        attr.id="fill-{{filtro.nombre}}"
      >
        <div>
          <h5 class="tit-filter">{{ filtro.nombre }}:</h5>
          <div
            [ngClass]="{'elemento-filtro': j &lt;= 4 , 'elemento-filtro-hidden':j &gt; 4}"
            *ngFor="let filter of filtro.elementos; index as j"
          >
            <label class="container-radio">
              <input
                (click)="
                  findWithFilters({
                    tipo: filtro.nombre,
                    nombre: filter.nombre
                  })
                "
                [checked]="
                  campoFiltrado({ tipo: filtro.nombre, nombre: filter.nombre })
                "
                type="checkbox"
              />
              {{ filter.nombre }}
              <span class="checkmark"></span>
            </label>
            <span>({{ filter.total }})</span>
          </div>
          <button
            attr.id="mas-{{ filtro.nombre }}"
            class="ver-mas-menos"
            (click)="clickListener('mas-' + filtro.nombre, true)"
            [ngStyle]="{'display': filtro.elementos.length &gt; 5 ? 'initial' : 'none'}"
          >
            Ver mas...
          </button>
          <button
            attr.id="menos-{{ filtro.nombre }}"
            style="display: none"
            class="ver-mas-menos"
            (click)="clickListener('menos-' + filtro.nombre, false)"
          >
            Ver menos...
          </button>
          <br /><br />
        </div>
      </div>
      <div
        class="filtro fill-Periodo"
        [ngStyle]="{
          display: ( listFillterAnios.length > 0 && listFillterMeses.length == 0 && statePeriod == 'show') ? 'initial' : 'none'
        }"
      >
        <h5 class="tit-filter">Periodo:</h5>
        <div class="select-periodo">
          <div class="select">
            <select
              name="select-tipo"
              [(ngModel)]="dataBusqueda.PERIIN"
              (change)="validatePeriod()"
            >
              <option value="" disabled selected hidden>Inicio</option>
              <option [value]="item" *ngFor="let item of listaMeses">
                {{ item }}
              </option>
            </select>
          </div>
          <div class="select">
            <select
              name="select-tipo"
              [(ngModel)]="dataBusqueda.PERIFIN"
              (change)="validatePeriod()"
            >
              <option value="" disabled selected hidden>Fin</option>
              <option [value]="item" *ngFor="let item of listaMeses">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="filtro fill-Apply">
        <button class="btn-apply" (click)="prepareSearch()" style="cursor: pointer;">Aplicar filtros</button>
      </div>
    </div>
  </div>
  <div
    class="column is-12"
    [ngStyle]="{
      width: stateSidebar == 'show' ? '82%' : '100%',
      'margin-left': stateSidebar == 'show' ? '300px' : '0'
    }"
  >
    <div
      class="column is-12 container-cards-proy"
      id="container-cards-proy"
      [ngStyle]="{
        width: stateSidebar == 'show' ? '100%' : '100%',
        'margin-left': stateSidebar == 'show' ? '0%' : '0'
      }"
    >
    
        <div
          class="card prueba"
          [ngStyle]="{'box-shadow': shadowCard}"
          *ngFor="
            let proyecto of data | paginate: { itemsPerPage: 10, currentPage: p };
            index as i
          "
          attr.id="card{{ proyecto.cveproyinv }}"
        >
        <div attr.id="img{{proyecto.cveproyinv }}">
          <header
            class="card-header"
            style="display: flex; justify-content: flex-end"
            *ngIf="usuario == 'administrador'"
          >
            <div class="titles">
              <p class="card-header-title">
                {{ proyecto.tpoproyinv }}
              </p>
            </div>
            <div
              style="display: flex; justify-content: space-evenly; padding: 10px"
            >
              <span class="info"
                ><i
                  class="fa fa-edit fa-1x"
                  style="color: #276cda; cursor: pointer; margin: 5px"
                  [routerLink]="['/proyecto', proyecto.cveproyinv, proyecto.tpoproyinv]"
                ></i
              ></span>
              <span
                (click)="deleteProyecto(proyecto.cveproyinv)"
                style="cursor: pointer"
                ><i class="fa fa-times-circle fa-1x" style="color: red"></i
              ></span>
            </div>
          </header>
          <div class="card-content">
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Artículos científicos'"
            >
            <span class="doi"><br>{{ proyecto.urlproyinv }}</span
              ><br />
              <span>{{ proyecto.fteproyinv }}</span
              ><br />
              <span>{{ proyecto.volproyinv }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span>{{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span> {{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span> {{ proyecto.rsmproyinv }}</span
              ><br />
              <span  id="campo_ad" *ngIf="proyecto.numpagproy">
                {{ proyecto.numpagproy }}</span
              ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
              {{proyecto.autproyinv | formatoAutores }}. ({{ proyecto.anioproyinv }}).
                {{ proyecto.titproyinv }}. {{ proyecto.fteproyinv }} , {{ proyecto.volproyinv }} . <span  id="campo_ad" *ngIf="proyecto.numpagproy">
                {{ proyecto.numpagproy }} .</span
                >{{ proyecto.urlproyinv }}
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Capítulos de libro científico'"
            >
            <span class="doi"><br>{{ proyecto.urlproyinv }}</span
              ><br />
              <span>{{ proyecto.fteproyinv }}</span
              ><br />
              <span> {{ proyecto.autpadproy }}</span
              ><br />
              <span> {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span>{{ proyecto.anioproyinv }}</span
              ><br />
              <span>{{ proyecto.titproyinv }}</span
              ><br />
              <span>{{ proyecto.autproyinv }}</span
              ><br />
              <span>{{ proyecto.rsmproyinv }}</span
              ><br />
              <span id="campo_ad" *ngIf="proyecto.volproyinv">
                {{ proyecto.volproyinv }}</span>
                <br />
                <span  id="campo_ad" *ngIf="proyecto.numpagproy">
                  {{ proyecto.numpagproy }}</span
                ><br />
                <span id="campo_ad" *ngIf="proyecto.edicproy">
                {{ proyecto.edicproy }}</span>
                  <br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
                {{ proyecto.autproyinv }}. ({{ proyecto.anioproyinv }}).
                {{ proyecto.titproyinv }}. {{ proyecto.autpadproy }} (Ed).
                {{ proyecto.fteproyinv }}. ( <span id="campo_ad" *ngIf="proyecto.edicproy"> {{ proyecto.edicproy }} ed., </span> <span id="campo_ad" *ngIf="proyecto.volproyinv"> Vol. {{ proyecto.volproyinv }} </span><span  id="campo_ad" *ngIf="proyecto.numpagproy">
                  , pp. {{ proyecto.numpagproy }}</span>). {{ proyecto.insproyinv }}. {{ proyecto.urlproyinv }}
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Libro científico'"
            >
            <span class="doi"><br> {{ proyecto.urlproyinv }} </span
              ><br />
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span> {{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span> {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span> {{ proyecto.rsmproyinv }}</span
              ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none"
              >
              {{proyecto.autproyinv | formatoAutores }}. ({{ proyecto.anioproyinv }}).
                {{ proyecto.titproyinv }}. {{ proyecto.insproyinv }}. {{ proyecto.urlproyinv }}
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Conferencias especializadas'"
            >
              <span>{{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span
                > {{ proyecto.titproyinv }}</span
              ><br />
              <span> {{ proyecto.alcproyinv }}</span
              ><br />
              <span>{{ proyecto.tpoactproy }}</span
              ><br />
              <span
                > {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span class="doi"id="campo_ad" *ngIf="proyecto.urlproyinv">
                {{ proyecto.urlproyinv }} </span>
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
              {{proyecto.autproyinv | formatoAutores }}. ({{ proyecto.feccapproy.split('-') }}).
                <i>{{ proyecto.titproyinv }}.</i>
                {{ proyecto.tpoactproy }} <span id="campo_ad" *ngIf="proyecto.urlproyinv">. {{ proyecto.urlproyinv }} </span>
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Artículos de divulgación'"
            >
              <span class="doi"><br>  {{ proyecto.urlproyinv }} </span
              ><br />
              <span>{{ proyecto.titproyinv }}</span
              ><br />
              <span> {{ proyecto.fteproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span> {{proyecto.autproyinv | formatoAutores }}</span
                ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
              {{proyecto.autproyinv | formatoAutores }}. ({{ proyecto.feccapproy.split('-')  }}). {{
                  proyecto.titproyinv }}. {{ proyecto.urlproyinv }}
              </div>
            </div>

            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Libros de divulgación'"
            >
            <span class="doi"><br>{{ proyecto.urlproyinv }}</span
              ><br />
              <span>{{ proyecto.titproyinv }}</span
              ><br />
              <span> {{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span> {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span  id="campo_ad" *ngIf="proyecto.numpagproy">
                {{ proyecto.numpagproy }}</span
              ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
              {{proyecto.autproyinv | formatoAutores }}. ({{ proyecto.anioproyinv }}). {{ proyecto.titproyinv }}. <span  id="campo_ad" *ngIf="proyecto.numpagproy"> ( P. {{ proyecto.numpagproy }}).</span> {{ proyecto.insproyinv }}. {{ proyecto.urlproyinv }}
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Otras Actividades'"
            >
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span> {{ proyecto.tpoactproy }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span> {{ proyecto.insproyinv }}</span
              ><br />
              <span>{{ proyecto.rsmproyinv }}</span
              ><br />
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Dirección de tesis'"
            >
              <span> {{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span> {{ proyecto.fteproyinv }}</span
              ><br />
              <span> {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none"
              >
              {{proyecto.autproyinv | formatoAutores }}. {{ proyecto.titproyinv }}. [fecha de
                consulta {{ fecha }}].
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Proyectos de investigación'"
            >
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span
                >
                {{ proyecto.insproyinv }}</span
              ><br />
              <span
                >
                {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.prdproyinv }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span> {{ proyecto.rsmproyinv }}</span
              ><br />
              <span id="campo_ad" *ngIf="proyecto.autproyinv">
                {{proyecto.autproyinv | formatoAutores }}</span>
                <br />
              <span class="doi"id="campo_ad" *ngIf="proyecto.urlproyinv">
                  {{ proyecto.urlproyinv }} </span>
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none;"
              >
              <span id="campo_ad" *ngIf="proyecto.autproyinv"> {{proyecto.autproyinv | formatoAutores }}. </span> ({{ proyecto.anioproyinv }}).
                {{ proyecto.titproyinv }}. {{ proyecto.insproyinv }} . <span class="doi"id="campo_ad" *ngIf="proyecto.urlproyinv"> {{ proyecto.urlproyinv }} </span>
              </div>
            </div>
            <div
              class="content"
              *ngIf="proyecto.tpoproyinv == 'Redes de investigación'"
            >
              <span> {{ proyecto.titproyinv }}</span
              ><br />
              <span
                >
                {{ proyecto.insproyinv }}</span
              ><br />
              <span> {{ proyecto.nomentnac }}</span
              ><br />
              <span> {{ proyecto.ctdintproy }}</span><br />
              <span> {{ proyecto.prdproyinv }}</span
              ><br />
              <span> {{ proyecto.anioproyinv }}</span
              ><br />
              <span> {{proyecto.autproyinv | formatoAutores }}</span
              ><br />
              <span> {{ proyecto.rsmproyinv }}</span
              ><br />
              <div
                class="cite"
                attr.id="{{ proyecto.cveproyinv }}_cite"
                style="display: none"
              >
              {{proyecto.autproyinv | formatoAutores }}. {{ proyecto.titproyinv }}. [fecha de
                consulta {{ fecha }}].
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <div
            class="card-footer-item btn-card"
            *ngIf="proyecto.tpoproyinv !== 'Otras Actividades' 
            && proyecto.tpoproyinv != 'Dirección de tesis' 
            && proyecto.tpoproyinv != 'Redes de investigación'"
          >
            <img src="assets/img/copias-apa.png" />
            <a
              rel="nofollow"
              class="button-busq"
              (click)="citarElement(proyecto.cveproyinv + '_cite')"
              >Copiar cita APA</a
            >
          </div>
          <div class="card-footer-item btn-card">
            <img src="assets/img/descargar.png" />
            <a
              rel="nofollow"
              class="button-busq"
              (click)="generateImage('img' + proyecto.cveproyinv)"
              >Descargar Imagen</a
            >
          </div>
        </footer>
      </div>
    </div>
      <div class="paginador">
        <pagination-controls 
        class="my-pagination"
        (pageChange)="p = $event"
        previousLabel="Previo"
        nextLabel="Siguiente" 
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>
  <div
    class="table-container"
    id="table-container"
    style="font-size: 10px; display: none"
  >
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Position">Titulo</abbr></th>
          <th>Tipo de proyecto</th>
          <th><abbr title="Played">Año</abbr></th>
          <th><abbr title="Won">Mes</abbr></th>
          <th><abbr title="Drawn">Resumen</abbr></th>
          <th><abbr title="Lost">Autor</abbr></th>
          <th><abbr title="Goals for">Url</abbr></th>
          <th><abbr title="Goals against">Volumen</abbr></th>
          <th><abbr title="Goal difference">Fuente</abbr></th>
          <th><abbr title="Points">Institucion</abbr></th>
          <th>Autores participantes</th>
          <th>Participacion del proyecto</th>
          <th>País del proyecto</th>
          <th>Alcance</th>
          <th>Fecha de ultima modificacion</th>
          <th>Realizacion</th>
          <th>Agenda de proyecto</th>
          <th>Tipo de actividad</th>
          <th>Informacion adicional</th>
        </tr>
      </thead>

      <tbody style="width: 700px">
        <tr *ngFor="let proyecto of data; index as i">
          <td>{{ proyecto.titproyinv }}</td>
          <td>{{ proyecto.tpoproyinv }}</td>
          <td>{{ proyecto.anioproyinv }}</td>
          <td>{{ proyecto.mesproyinv }}</td>
          <td>{{ proyecto.rsmproyinv }}</td>
          <td>{{ proyecto.autproyinv }}</td>
          <td>{{ proyecto.urlproyinv }}</td>
          <td>{{ proyecto.volproyinv }}</td>
          <td>{{ proyecto.fteproyinv }}</td>
          <td>{{ proyecto.insproyinv }}</td>
          <td>{{ proyecto.autpadproy }}</td>
          <td>{{ proyecto.parproyinv }}</td>
          <td>{{ proyecto.cvepaispro }}</td>
          <td>{{ proyecto.alcproyinv }}</td>
          <td>{{ proyecto.feccapproy }}</td>
          <td>{{ proyecto.reaproyinv }}</td>
          <td>{{ proyecto.agdredproy }}</td>
          <td>{{ proyecto.tpoactproy }}</td>
          <td>{{ proyecto.infadcproy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<router-outlet></router-outlet>
