<app-header></app-header>


<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    
                </p>
                <!-- <ul class="menu-list">
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Artículo científico'}"
                            (click)="form('Artículo científico')">Artículo científico</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Capítulo de libro científico'}"
                            (click)="form('Capítulo de libro científico')">Capítulo de libro científico</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Libro científico'}"
                            (click)="form('Libro científico')">Libro científico</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Conferencia especializada'}"
                            (click)="form('Conferencia especializada')">Conferencia especializada</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Artículo de divulgación'}"
                            (click)="form('Artículo de divulgación')">Artículo de divulgación</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Libro de divulgación'}"
                            (click)="form('Libro de divulgación')">Libro de divulgación</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Actividad de divulgación'}"
                            (click)="form('Actividad de divulgación')">Otras actividades de divulgación</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Dirección de tesis'}"
                            (click)="form('Dirección de tesis')">Dirección de tesis</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Proyecto de investigación'}"
                            (click)="form('Proyecto de investigación')">Proyecto de investigación</a></li>
                    <li><a [ngClass]="{'is-active' : nombreForm == 'Red de investigación'}"
                            (click)="form('Red de investigación')">Red de investigación</a></li>

                </ul> -->
            </aside>
        </div>
        <div class="column is-9">
            <section class="hero is-info welcome is-small" id="header">
                <div class="hero-body">
                    <!-- <div class="container">
                        <h2 class="subtitle"
                            *ngIf="nombreForm != 'Conferencia especializada'&&nombreForm != 'Red de investigación'&&nombreForm != 'Dirección de tesis'&&nombreForm != 'Actividad de divulgación'">
                            Nuevo: {{nombreForm}}
                        </h2>
                        <h2 class="subtitle"
                            *ngIf="nombreForm == 'Conferencia especializada'||nombreForm == 'Red de investigación'||nombreForm == 'Dirección de tesis'||nombreForm == 'Actividad de divulgación'">
                            Nueva: {{nombreForm}}
                        </h2>
                    </div> -->
                    <h2 class="subtitle">
                            Modificar: {{tipoForm}}
                        </h2>
                </div>
            </section>
            <section class="info-tiles">
                <app-form *ngIf='tipoForm=="Artículos científicos"'></app-form>
                <app-conferencias-especializadas *ngIf='tipoForm=="Conferencias especializadas"'>
                </app-conferencias-especializadas>
                <app-cap-libro-cientifico *ngIf='tipoForm=="Capítulos de libro científico"'></app-cap-libro-cientifico>
                <app-articulos-de-divulgacion *ngIf='tipoForm=="Artículos de divulgación"'></app-articulos-de-divulgacion>
                <app-libros-de-divulgacion *ngIf='tipoForm=="Libros de divulgación"'></app-libros-de-divulgacion>
                <app-otras-actividades *ngIf='tipoForm=="Otras Actividades"'></app-otras-actividades>
                <app-form-direccion-de-tesis *ngIf='tipoForm=="Dirección de tesis"'></app-form-direccion-de-tesis>
                <app-proyectos-de-investigacion *ngIf='tipoForm=="Proyectos de investigación"'></app-proyectos-de-investigacion>
                <app-redes *ngIf='tipoForm=="Redes de investigación"'></app-redes>
                <app-libro-cientifico *ngIf='tipoForm=="Libro científico"'></app-libro-cientifico>
            </section>

        </div>
    </div>
</div>

<!-- <pre>{{dataForm | json}}</pre> -->
<!-- <pre>{{form.value | json}}</pre> -->
<app-footer></app-footer>