<div class="container is-widescreen">
    <form [formGroup]="form" class="box">
      <div class="field">
        <label class="label"> DOI/Enlace:</label>
        <input class="input" type="email" placeholder="https://www.redalyc.org/articulo.oa?id=10411213" formControlName="URLPROYINV"
          [ngClass]="{'is-danger' : campoEsValido('URLPROYINV')}">
        <p class="help is-danger" *ngIf="campoEsValido('URLPROYINV')">
          Este campo es obligatorio y debe ser una direccion del tipo http://ejemplo.com
        </p>
      </div>

      <div class="field">
        <label for="" class="label">Título del libro:</label>
        <input class="input" type="text" formControlName="FTEPROYINV"
          [ngClass]="{'is-danger' : campoEsValido('FTEPROYINV')}">
        <p class="help is-danger" *ngIf="campoEsValido('FTEPROYINV')">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label">Autor/es del libro:</label>
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input type="text" class="input" placeholder="Nombre del autor" [formControl]="autorLib"
              (keyup.enter)="addAutorLib(autorLib.value, apellidosLib.value, $event)">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control has-icons-left">
            <input type="text" class="input" placeholder="Apellido del autor" [formControl]="apellidosLib"
              (keyup.enter)="addAutorLib(autorLib.value, apellidosLib.value, $event)">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control"  (click)="addAutorLib(autorLib.value, apellidosLib.value, $event)">
            <button class="button is-info" [disabled]="autorLib.errors && autorLib.touched && apellidosLib.errors && apellidosLib.touched" >Agregar</button>
          </div>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('listAutorLib')">
          Debe agregar por lo menos un autor
        </p>
        <p class="help is-danger" *ngIf="autorLib.errors && autorLib.touched">
          Este campo es obligatorio y no se permiten los caracteres: {{signos}}
        </p>
      </div>
  
      <label class="label" *ngIf="autoresLibArr.length>0">Lista de Autores de libro</label>
      <div formArrayName="listAutorLib">
        <div class="field has-addons" *ngFor="let autor of autoresLibArr.controls; let i = index">
          <div class="control has-icons-left">
            <input type="text" class="input" [formControlName]="i" readonly="readonly">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control" (click)="borrarLib(i)">
            <a class="button is-danger">Eliminar</a>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Editorial:</label>
        <input class="input" type="text" formControlName="INSPROYINV"
          [ngClass]="{'is-danger' : campoEsValido('INSPROYINV')}">
        <p class="help is-danger" *ngIf="campoEsValido('INSPROYINV')">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label class="label">País:</label>
        <ng-select class="select is-multiple" [multiple]="true" [formControl]="pais" [ngModel]="selectedCountry">
          <ng-option *ngFor="let item of lista" [value]="item.cveentnac">{{item.nomentnac}}</ng-option>
        </ng-select>
        <p class="help is-danger" *ngIf="campoEsValido('CVEPAISPRO')">Debe agregar por lo menos un país</p>
      </div>
      <div class="field">
        <label class="label">Año</label>
        <div class="control">
          <input
            type="number"
            class="input"
            placeholder=""
            formControlName="ANIOPROYINV"
            ngModel name="anioActual"
            [ngClass]="{ 'is-danger': campoEsValido('ANIOPROYINV') }"
          />
          <span
            class="tag is-danger is-light"
            *ngIf="campoEsValido('ANIOPROYINV')"
          >
          Este campo solo acepta caracteres numericos entre 1980 y {{anioAct}}
            <br />
          </span>
        </div>
      </div>
      <div class="field">
        <label for="" class="label">Título del capitulo:</label>
        <input class="input" type="text" formControlName="TITPROYINV"
          [ngClass]="{'is-danger' : campoEsValido('TITPROYINV')}">
        <p class="help is-danger" *ngIf="campoEsValido('TITPROYINV')">
          Este campo es obligatorio
        </p>
      </div>

      <div class="field">
        <label class="label">Autor/es del capitulo:</label>
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input type="text" class="input" placeholder="Nombre del autor" [formControl]="autor"
              (keyup.enter)="addAutor(autor.value, apellidos.value, $event)">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control has-icons-left">
            <input type="text" class="input" placeholder="Apellido del autor" [formControl]="apellidos"
              (keyup.enter)="addAutor(autor.value, apellidos.value, $event)">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control"  (click)="addAutor(autor.value, apellidos.value, $event)">
            <button class="button is-info" [disabled]="autor.errors && autor.touched && apellidos.errors && apellidos.touched" >Agregar</button>
          </div>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('listAutor')">
          Debe agregar por lo menos un autor
        </p>
        <p class="help is-danger" *ngIf="autor.errors && autor.touched">
          Este campo es obligatorio y no se permiten los caracteres: {{signos}}
        </p>
      </div>
  
      <label class="label" *ngIf="autoresArr.length>0">Lista de Autores del capitulo</label>
      <div formArrayName="listAutor">
        <div class="field has-addons" *ngFor="let autor of autoresArr.controls; let i = index">
          <div class="control has-icons-left">
            <input type="text" class="input" [formControlName]="i" readonly="readonly">
            <span class="icon is-medium is-left">
              <i class="fa  fa-user"></i>
            </span>
          </div>
          <div class="control" (click)="borrar(i)">
            <a class="button is-danger">Eliminar</a>
          </div>
        </div>
      </div>
     
  
      <div class="field">
        <label class="label">Resumen:</label>
        <textarea class="textarea" cols="30" rows="5" formControlName="RSMPROYINV"></textarea>
        <p class="help is-danger" *ngIf="campoEsValido('RSMPROYINV')">Sobrepasaste el limite de caracteres</p>
      </div>
      
  
      <div class="field">
        <label class="label">Alcance</label>
        <div class="select" [ngClass]="{'is-danger' : campoEsValido('ALCPROYINV')}">
          <select formControlName="ALCPROYINV">
            <option value="Institucional">Institucional</option>
            <option value="Nacional">Nacional</option>
            <option value="Lationamérica">Lationamérica</option>
            <option value="Otras regiones">Otras regiones</option>
          </select>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('REAPROYINV')">Sobrepasaste el limite de caracteres</p>
      </div>
      <div class="field" id="campo_ad">
        <label class="label">Volúmen:</label>
        <input class="input" type="text" formControlName="VOLPROYINV">
        <p class="help is-danger" *ngIf="campoEsValido('VOLPROYINV')">
          Este campo es obligatorio
        </p>
      </div>
      <div class="field">
        <label for="" class="label">Número de página inicio – Número de pagina fin:</label>
        <input class="input" type="text" formControlName="NUMPAGPROY"
          [ngClass]="{'is-danger' : campoEsValido('NUMPAGPROY')}">
        <p class="help is-danger" *ngIf="campoEsValido('NUMPAGPROY')">
          Este campo debe llevar el formato: Página de inicio - Página de fin
        </p>
      </div>
      <div class="field">
        <label for="" class="label">Edición:</label>
        <input class="input" type="text" formControlName="EDICPROY"
          [ngClass]="{'is-danger' : campoEsValido('EDICPROY')}">
        <p class="help is-danger" *ngIf="campoEsValido('EDICPROY')">
          No se permiten los caracteres: {{signos}}
        </p>
      </div>
      <div class="field">
        <label class="label">¿El proyecto ya fue realizado?</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="REAPROYINV" formControlName="REAPROYINV" value=1 (click)="deshabilitar()">
            Si
          </label>
          <label class="radio">
            <input type="radio" name="REAPROYINV" formControlName="REAPROYINV" value=0  (click)="habilitar()">
            No
          </label>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('REAPROYINV')">Este campo es obligatorio</p>
      </div>
  
      <div class="field" *ngIf="des == true">
        <label class="label">¿Quisiera que este proyecto formara parte de la agenda de eventos de Redalyc?</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="AGDREDPROY" formControlName="AGDREDPROY" value="si">
            Si
          </label>
          <label class="radio">
            <input type="radio" name="AGDREDPROY" formControlName="AGDREDPROY" value="no">
            No
          </label>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('AGDREDPROY')">Este campo es obligatorio</p>
      </div>
  
      <div class="field">
        <label class="label">Información adicional: </label>
        <div class="control">
          <textarea class="textarea" placeholder="" formControlName="INFADCPROY"></textarea>
        </div>
        <p class="help is-danger" *ngIf="campoEsValido('INFADCPROY')">Sobrepasaste el limite de caracteres</p>
      </div>
  
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="guardar()" *ngIf="!actualizacion">Guardar</button>
          <button class="button is-link" (click)="guardar()" *ngIf="actualizacion">Modificar</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" (click)="limpiar()" *ngIf="!actualizacion">Cancelar</button>
          <button class="button is-link is-light" (click)="redirectConsultas()" *ngIf="actualizacion">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
 
  <!-- <span>Valid</span>
  <pre>{{ form.valid }}</pre>
  <br>
  
  <span>value</span>
  <pre>{{ form.value | json  }}</pre>
  <br> -->
