<div class="container is-widescreen">
  <!-- <h2>Formulario Artículos científicos</h2> -->
  <br>
  <form [formGroup]="form" class="box">
    <div class="field">
      <label for="" class="label">Título de artículo:</label>
      <input class="input" type="text" formControlName="TITPROYINV"
        [ngClass]="{'is-danger' : campoEsValido('TITPROYINV')}">
      <p class="help is-danger" *ngIf="campoEsValido('TITPROYINV')">
        Este campo es obligatorio
      </p>
    </div>
    
    <div class="field">
      <label class="label">Revista:</label>
      <input class="input" type="text" formControlName="FTEPROYINV"
        [ngClass]="{'is-danger' : campoEsValido('FTEPROYINV')}">
      <p class="help is-danger" *ngIf="campoEsValido('FTEPROYINV')">
        Este campo es obligatorio
      </p>
    </div>
    <div class="field">
      <label class="label">Volúmen:</label>
      <input class="input" type="text" formControlName="VOLPROYINV">
    </div>
    <div class="field">
      <label class="label">Año: </label>
      <input class="input" type="text" formControlName="ANIOPROYINV"
        [ngClass]="{'is-danger' : campoEsValido('ANIOPROYINV')}">
      <p class="help is-danger" *ngIf="campoEsValido('ANIOPROYINV')">
        Este campo es obligatorio
      </p>
    </div>
    <div class="field">
      <label class="label"> DOI/Enlace:</label>
      <input class="input" type="email" formControlName="URLPROYINV"
        [ngClass]="{'is-danger' : campoEsValido('URLPROYINV')}">
      <p class="help is-danger" *ngIf="campoEsValido('URLPROYINV')">
        Debe agregar por lo menos un autor
      </p>
    </div>





<!-- <span>Valid</span>
<pre>{{ form.valid }}</pre>
<br>

<span>value</span>
<pre>{{ form.value | json  }}</pre>
<br> -->
